.about {
  .aside {
    background-color: $white;
  }
  .main {
    .achivements {
      > div {
        float: left;
      }
      .circle {
        margin-right: 5%;
        .headings {
          margin-top: $global-margin * 2;
          h3,
          h4 {
              text-align: center;
          }
        }          
        .round-border {
          height: 100px;
          width: 100px;
          border: 4px solid #fff;
          border-radius: 50%;
          position: relative;
          color: $white;
          &:hover {
            border: 4px solid #000;
          }
        }
        .center {
          height: 85px;
          width: 85px;
          background-color: #000;
          border-radius: 50%;
          position: absolute;
          top: 3px;
          left: 3px;
        }
        span {
          position: absolute;
          font-weight: 800;
          top: 26%;
          left: 41%;
          font-size: 30px;
        }
      }
    }
  }
}

/* Large and up */
@media screen and (min-width: 64em) {
  .about {
    background-color: $dark-gray;

    .aside {
      background-color: $dark-gray;
      color: $white;
      margin-top: 0;
      margin-bottom: 0;
      h2 {
        border-top: 2px solid $white;
        text-align: right;
      }
    }
    .main {
      background-color: $white;
      margin-top: 0;
      padding-left: $global-padding * 2;
      &:last-child:not(:first-child) {
        float: left;
      }
      .intro,
      .achivements {
        padding-bottom: $global-padding;
        width: rem-calc(630px);
        float: left;
      }
    }
  }
}