footer {
  aside {
    display: none;
  }
  .main {

  } 
}

/* Large and up */
@media screen and (min-width: 64em) {
	 footer {
    background-color: $dark-gray;
    margin-top: 0;
    .aside {
      color: $white;
      margin-top: 0;
      margin-bottom: 0;
      h2 {
        border-top: 2px solid $white;
        text-align: right;
      }
    }
    .main {
      background-color: $white;
      padding-top: $global-padding * 3;
      padding-left: $global-padding * 2;
      // &:last-child:not(:first-child) {
      //   float: left;
      // }
    }
  }
}