// Custom colors
$red-text: #ad1f23; 
$almost-black-text: #252525;
$gray-text: #666;
$light-gray-text: #b0b0b0;
$very-light-gray-text: #d7d7d7; //text study place
$redish-icon-color: #d5393d;
$url-color: #bcbcbc;

$light-gray: #efefef; //background color section Work
$medium-gray: #a1a1a1; // progress bar and type of education
$dark-gray: #27373b; //sidebar color
$black: #000;
$white: #fff;

// Colors of progressbars
$has-progress-color-hover: #27373b;
$no-progress-color: #f3f3f3;

$body-font-family: 'Open Sans', Roboto, Arial, sans-serif;


// General styles
.aside {
    background-color: $dark-gray;
}
.email {
  color: $gray-text;
}
.line {
  background-color: $black;
  width: 3.75rem;
  display: block;
  height: 0.4rem;
  margin-bottom: 0.8rem;
}
.visible {
  display: block;
}

