.interest {
  .aside {
    background-color: $white;
  }
  .main {
    .hobby {
      .icon-barbecue,
      .icon-stamp {
        display: block;
        margin: 0 auto;
      }
    }
  }
}

/* Large and up */
@media screen and (min-width: 64em) {
  .interest {
    background-color: $dark-gray;
    margin-top: 0;
    .aside {
      background-color: $dark-gray;
      color: $white;
      margin-top: 0;
      margin-bottom: 0;
      h2 {
        border-top: 2px solid $white;
        text-align: right;
      }
    }
    .main {
      background-color: $white;
      margin-top: 0;
      padding-left: $global-padding * 2;
      &:last-child:not(:first-child) {
        float: left;
      }
      .achivements {
        float: left;
        width: rem-calc(630px);
      }
      .container {
        width: rem-calc(630px);
        .hobby {
          margin-bottom: $global-margin * 5;
        }
        h3 {
          text-align: center;
          margin-top: 1em;
          margin-bottom: 1em;
        }
      }
    }
  }
}