body {

}

h1, h2, h3 {
	font-weight: 800;
	text-transform: uppercase;
}
h3 {
	color: $red-text;
}
a {
	color: $dark-gray;
}
a:hover {
	color: $red-text;
}

.about {
	.intro {
		font-size: 1rem;
		line-height: 1.5;
		color: $dark-gray;
	}
}