<div class="wrapper">
	<section class="personal">
		<div class="aside">
			<div class="avatar">
					<img src="assets/img/julia.jpg" alt="Julia Rietveld, front-end developer">
				</div>
		</div>
		<div class="main">
			<div class="branding">
				<h1>Julia Rietveld</h1>
				<div class="line"></div>
				<h3>front-end developer</h3>
			</div>	
			<div class="contact" itemtype="http://schema.org/Person">
				<div class="phone">
					<div class="icon-container">
						<i class="fa fa-mobile" aria-hidden="true"></i>
					</div>					
					<span itemprop="telephone">06 2874 2275</span>
				</div>
				<div class="mail">
					<div class="icon-container">
						<i class="fa fa-envelope-o" aria-hidden="true"></i>
					</div>					
					<a itemprop="email" href="mailto:info@juliarietveld.nl" class="email">info@juliarietveld.nl</a>
				</div>
			</div>
		</div>		
	</section>

	<section class="about">
		<div class="aside">
			<h2>About</h2>
		</div>
		<div class="main">
			<div class="intro">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, eligendi! Ad illo, iusto quaerat! Dignissimos, quam odit amet soluta iusto, optio quis repellat consequatur quibusdam reiciendis accusamus sit dolores, saepe quam odit amet soluta iusto, optio quis repellat consequatur quibusdam reiciendis accusamus sit dolores.
				</p>
			</div>
			<div class="achivements">
				<div class="circle">
					<div class="round-icon">
						<span>4</span>
					</div>
					<div class="headings">
						<h3>years</h3>
						<h4>university</h4>
					</div>					
				</div>
				<div class="circle">
					<div class="round-icon">
						<span>4</span>
					</div>
					<div class="headings">
						<h3>years</h3>
						<h4>university</h4>
					</div>
				</div>
				<div class="circle">
					<div class="round-icon">
						<span>3</span>
					</div>
					<div class="headings">
						<h3>years</h3>
						<h4>university</h4>
					</div>	
				</div>
				<div class="circle">
					<div class="round-icon">
						<span>5</span>
					</div>
					<div class="headings">
						<h3>years</h3>
						<h4>university</h4>
					</div>	
				</div>
			</div>
		</div>
	</section>

	<section class="interest">
		<div class="aside">
			<h2>Interst</h2>
		</div>
		<div class="main">
			<div class="container">
				<div class="hobby">
					<svg class="icon-barbecue">
						<use xlink:href="assets/img/symbol-defs.svg#icon-barbecue"></use>
					</svg>
					<h3>BBQ Grill Master</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis placeat temporibus praesentium dolores harum voluptatibus</p>
				</div>
				<div class="hobby">
					<svg class="icon-stamp">
						<use xlink:href="assets/img/symbol-defs.svg#icon-stamp"></use>
					</svg>
					<h3>Globe trotter</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis placeat temporibus praesentium dolores harum voluptatibus</p>
				</div>
			</div>
		</div>
	</section>

	<section class="work">
		<div class="aside">
			<h2>Work</h2>
		</div>
		<div class="main">
			<div class="work-item">
				<h2>eFocus</h2>
				<div class="line"></div>
				<div class="row">
					<h3>Front-end developer</h3>
					<span class="date">June 2015 - June 2016</span>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat eos repellat harum in culpa sequi nihil modi earum necessitatibus ea repellendus excepturi omnis non itaque fuga, officiis reiciendis odit labore.</p>
			</div>
		</div>
	</section>

	<section class="education">
		<div class="aside">
			<h2>Education</h2>
		</div>
		<div class="main">
			<div class="edu-item">
				<h2>Web developer</h2>
				<div class="line"></div>
				<div class="row">
					<h4>Teknikhodskolan, Malmo, Sweden</h4>
					<span class="date">2011 - 2014</span>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat eos repellat harum in culpa sequi nihil modi earum necessitatibus ea repellendus excepturi omnis non itaque fuga, officiis reiciendis odit labore.</p>
			</div>
		</div>
	</section>

	<section class="skillset">
		<div class="aside">
			<h2>Skillset</h2>
		</div>
		<div class="main">
			<div class="main-skills">
				<div class="html progress" role="progressbar" tabindex="0" aria-valuenow="96" aria-valuemin="0" aria-valuetext="96 percent" aria-valuemax="100">
					<div class="progress-meter" style="width: 96%"></div>
					<span class="percentage"> 96%</span>				
					<span class="skill">Html</span>
				</div>
				<div class="css progress" role="progressbar" tabindex="0" aria-valuenow="96" aria-valuemin="0" aria-valuetext="96 percent" aria-valuemax="100">
					<div class="progress-meter" style="width: 96%"></div>
					<span class="percentage"> 96%</span>				
					<span class="skill">SASS</span>
				</div>
				<div class="css progress" role="progressbar" tabindex="0" aria-valuenow="76" aria-valuemin="0" aria-valuetext="76 percent" aria-valuemax="100">
					<div class="progress-meter" style="width: 76%"></div>
					<span class="percentage"> 76%</span>				
					<span class="skill">Javascript</span>
				</div>
			</div>
			<button class="show-more-skills">Show more skills</button>
			<div class="more-skills">
				<div class="html progress" role="progressbar" tabindex="0" aria-valuenow="96" aria-valuemin="0" aria-valuetext="96 percent" aria-valuemax="100">
					<div class="progress-meter" style="width: 96%"></div>
					<span>Photoshop & Sketch</span>
				</div>
				<div class="html progress" role="progressbar" tabindex="0" aria-valuenow="96" aria-valuemin="0" aria-valuetext="96 percent" aria-valuemax="100">
					<div class="progress-meter" style="width: 96%"></div>
					<span>Angular.js</span>
				</div>	
			</div>
		</div>
	</section>

	<section class="projects">
		<div class="aside">
			<h2>Project Name</h2>
			<h3>Type of project</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum vitae, recusandae, doloremque sapiente!</p>
			<span class="url">www.website.com</span>
		</div>
		<div class="main">
			<div class="container">
				<img src="assets/img/dkvm.jpg" alt="de kracht van marktplaats">
				<img src="" alt="">
			</div>
		</div>
	</section>

	<footer>
		<div class="aside">
		</div>
		<div class="main" itemtype="http://schema.org/Person">
			<h3 itemprop="name">Julia Rietveld</h3>
			<p itemprop="address">Paddenstoelenlaan 5, 3451PZ Vleuten</p>
			<a itemprop="email" href="mailto:info@juliarietveld.nl" class="email">info@juliarietveld.nl</a>
			<span itemprop="telephone">06 2874 2275</span>
			<div>Icons made by <a href="http://www.flaticon.com/authors/baianat" title="Baianat">Baianat</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
		</div>
	</footer>
</div>

